.selectBottle {
  background-color: rgba(196, 196, 196, 0.47);
  width: 95%;
  min-height: 50px;
  margin: 2.5%;
  margin-bottom: 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

.selectAperitif {
  background-color: rgba(196, 196, 196, 0.47);
  width: 95%;
  min-height: 50px;
  margin: 2.5%;
  margin-bottom: 20%;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  display: flex;
  justify-content: center;
  position: relative;
}
.beer-input {
  width: 90vw;
  margin: 0 auto;
  margin-bottom: 2rem;
  background-color: rgba(178, 216, 177, 0.49);
  color: black;
  border-radius: 20px;
  font-weight: 900;
}
.drinks-added img {
  height: 5rem;
  width: 1.5rem;
  margin-left: auto;
  margin-right: auto;
}
.food-added img{
  height: 3rem;
  width: 4rem;
  margin-left: auto;
  margin-right: auto;
}
.food-added {
  width: 25%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.drinks-added {
  margin: 10px;
  display: flex;
  flex-direction: column;
  width: 20%;
  text-align: center;
}
.breweryImg {
  width: 100px;
  height: 100px;
  margin-bottom: 50px;
  position: absolute;
  top: -80px;
}
.bottle-image {
  height: 5rem;
  width: 1.5rem;
}
.aperitifImg {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -70px;
}

.calculBtn {
  border-radius: 20px;
  background-color: rgba(178, 216, 177, 0.49);
  width: 50%;
  height: 40px;
  margin-left: 25%;
  margin-right: 25%;
  color: white;
  font-size: 2rem;
  cursor: pointer;
}

.titleCalculateur {
  color: white;
  margin-top: 50px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.bottleContent {
  margin: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
} 

.aperitifContent {
  margin: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
}
.aperitifContent p {
  overflow: scroll;
  height: 3rem;
}
