.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100px;
  text-transform: uppercase;
  margin-bottom: 15px;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleHeader {
  font-size: 3rem;
  color: white;
  font-family: "Kodchasan", sans-serif;
}

a {
  text-decoration: none;
}
